.about-area {
    padding: 195px 0 90px;
}

.about-caption1 {
    padding: 0 15px;
    margin-bottom: 50px;
}

.about-caption1 h3 {
    margin-bottom: 35px;
    font-size: 30px;
    color: #000a2d;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Rufina",serif;
}

#about1 {
    margin-bottom: 25px;
    color: #10285d;
    line-height: 30px;
} 

#about1~p {
    margin-bottom: 15px;
    color: #10285d;
    line-height: 30px;
}

.about-caption2 {
    padding: 0 15px;
}

.about-caption2 h3 {
    font-size: 40px;
    color: #000a2d;
    font-weight: 700;
    margin-bottom: 35px;
    font-family: "Rufina",serif;
}

.about-caption2 p {
    font-size: 20px;
    color: #464d65;
    margin-bottom: 10px;
    font-weight: 500;
}

.send-cv {
    display: flex;
    justify-content: space-between;
    width: 470px;
}

.send-cv a {
    color: #000a2d;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
}

.send-cv i {
    font-size: 30px;
    text-decoration: double underline;
    position: relative;
    cursor: pointer;
    bottom: -10px;
}
